.course-left{
    margin-top: 50px;
    width: 640px;
    height: 600px;
    border: 1px solid silver;
    border-radius:5px; 
}
.course-name{
    height: 60px;
    border-bottom: 1px solid silver;
}
.chapter-list{
    margin-top: 30px;
    margin-left: 50px;
}
.single-passage li{
    margin-left: 50px;
    margin-top: 15px;
    line-height: 14px;
}