.carddiv {
    line-height: 30px;
    margin-left: 200px;;
}
.carddiv span{
    font-weight: bold;
    font-size: 16px;
}
.pull-left{
    display: inline-block;
}
.carddiv-button{
    position: relative;
    top:-60px;
    left:270px;
}
