.card_row{  
  margin-bottom: 20px;
  min-width: 1235px;
  margin-left: auto;
  margin-right: auto;
}
.card_col{
  position: relative;
  top:10px;
  height: 250px;
  margin-top: 20px;
  min-width: 250px;
  border-radius: 5px;
  padding-bottom: 5px;
  margin-bottom: 3px;
}

.card_img{
  width: 100%;
  height: 80%;
}