.ant-upload-list-picture-card .ant-upload-list-item{
  width: 200px;
  height: 200px;
}
.clearfix{
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
.ant-upload.ant-upload-select-picture-card{
  width: 200px;
  height: 200px;
}
.ant-upload-text{
  font-size: 30px;
}
