.sectionInput{
  width: 50%;
}
.sectionP{
  font-size: 18px;
  width: 50%;
  padding-bottom: 5px;
  border-bottom:3px solid #ecf6fd;
}
.editor_row{
  width: 60%;
}
.newSection{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 100%;
}
.ant-input-disabled{
  border: none;
}
.ant-input-disabled:hover{
border: none;
}
.partCollapse{
  border: none none 1px none;
}