.stestBox{
  margin-top: 10px;
  //border-bottom: 1px solid #61DAFB;
  padding-bottom: 10px;
  font-size: 16px;
}
.stestOption{
  margin-top: 5px;
}
.stestTrue{
  margin-top: 5px;
  padding: 5px;
  //background-color: #61DAFB;
  color: gray;
  border-top: 1px solid #61DAFB;
}