
.testText{
  min-width:300px; 
  margin-top: 10px;
  margin-left: 5px;
  width: 80%;

}
.question-mode1 {
  min-width: 700px;
  overflow-y: scroll;
  .m-choiceQuestion {
    position: relative;
    top:0;
   height: 220px;
   width: 800px;
   border-bottom: 1px solid silver;
    .m-slect {
      font-size: 12px;
      background: #e3f8ff;
      border: 1px solid #bfdfff;
      border-radius: 4px;
      padding: 2px 4px;
      margin-right: 5px;
      font-family: "宋体";
    }
  }
  .radio-check {
    margin: 15px 30px;
  }
  .ant-radio-wrapper {
    line-height: 30px;
  }
  .ques-num {
		display: inline-block;
		position: relative;
		margin-right: 6px;
		top: 3px;
		font-family: "Arial-regular";
		font-size: 22px;
  }
  .select-detail {
    font-family: "宋体";
    font-size: 14px;
	}
}
.m-conhead{
  height: 60px;
  width: 100%;
  background-color: #eeede7;
}
.m-learnhead{
		height: 60px;
		width: 60%;
    margin: 0 auto;
    background-color: #eeede7;
  }
.m-learnbox{
    width: 1200px;
    margin: 0 auto;
    padding: 8px;
  }
  .u-learn-moduletitle{
    font-size: 16px;
    font-family: "宋体";
    margin: 20px 0 20px 333px;
  }
.back{
  font-size: 14px;
}
.sumitButton{
  position: absolute;
  top:110px;
  right: 20px;
}
.delButton{
  position: absolute;
  top:150px;
  right: 20px;
}